*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 

    max-width: 100%;
    font-family: "Roboto", sans-serif;
}
.container{
max-width: 100%;
   overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
}
.todo_list{
   
    width: 336px;
    border:1px solid #C4C4C4;
    text-align: center;
    border-radius: 10px;

}
.yellow_part{
    max-width: 100%;
    height: 28px;
    background-color:#FFDC40;
    border-radius: 10px 10px 0 0 ;
    
}
h1{
    font-size: 26px;
    color: black;
    margin: 10px 0 20px 0 ;
}
.icon_part{

    text-align: right;
    margin: 0 30px 10px;
    
   
}
.icon{
    width: 25px;
    height: 15px;
  
}
/* .show{
    display: block;
margin-left: 100%;
}
.hide{
    display: none;
    margin-left:100% ;
   
} */
.input_box{
    
    max-width: 100%;
    margin: 0 20px 10px;
    position: relative;
}
input{
width: 100%;
padding: 12px 15px 10px;
border-radius: 10px;
outline-offset: none;
outline-color: transparent;
border:1.5px solid #C4C4C4;

    /* padding: 20px 30px; */
}
.clean_button{
    position: absolute;
    top: 20%;
    right: 9%;
 
}

.clean img{
 
    display: block;
}
.submit_btn{
  
    margin: 15px 0 ;
    position: relative;
}

.add-btn{
    background-color: #833AE0;
    padding: 12px 32px 12px 58px;
    border-radius: 71px;
    font-size: 14px;
    
   font-family: "Roboto", sans-serif;
color: white;
border: none;
}
.add-btn:hover{
    background-color: #9953F1;
 
}

.hidden{
    display: none;
}

.plus{
    position: absolute ;
    top: 0;
    left: 27%;
    width: 42px;
    height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 71px;
   color: white;
    background-color:#9953F1;
    
}

.plus:hover{
   
    background-color:#AA68FE;
    
}

.plus i{
    font-size: 12px;
}



.delete-btn{
 
    border-radius: 71px;
    
}
.delete-btn:hover{
    background-color: #833AE0;
    color: white;

}
.note-part{

    display: flex;

 border-radius: 10px;
   justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
   
    max-width: 100%;
}
.note-field{
    max-width: 88%;
    border-radius: 10px;
    margin: 0 auto;
    border: 0.5px solid;
   border-color: #C4C4C4;
   display: none;
}
.change{
    margin-left: 250px;
}